#teaser-picture-wrapper {
    height: 60vh;
    width: 100%;
}

#welcome-background-video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.homeh2 {
    text-align: center;
    color: var(--primary);
}

#quick-menu-wrapper {
    /* width: 96vw; */
    height: 30vh;
    
}

#quick-menu-wrapper ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.quick-menu-item-wrapper {
    display: inline-block;
}

.quick-menu-item-wrapper p {
    color: var(--primary);
    font-size: 1.3em;
}

#quick-menu-wrapper ul li {
    display: inline;
    margin: 0 7vw;
}

#quick-menu-wrapper ul li button {
    font-size: 6em;
    padding: 10px;
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--secondary);
    border-radius: 9px;
}

#quick-menu-wrapper ul li button a {
    text-decoration: none;
    color: var(--secondary);
}

#home-news-list-wrapper {
    background-color: var(--primary);
    padding-bottom: 25px;
    padding-top: 15px;
    margin-top: 25px;
}

#home-news-list-wrapper h2 {
    color: var(--secondary);
    text-align: center;
    font-size: 1.4em;
}

#home-news-list {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
}

#home-news-list li {
    display: inline;
    margin: 0 16px;
}

.home-news-wrapper {
    width: 30vw;
    height: 300px;
    display: inline-block;
    border: 1px solid var(--primary);
    background-color: var(--secondary);
    color: var(--primary);
}

.home-news-wrapper h2 {
    color: var(--primary) !important;
}

.home-news-wrapper p {
    width: 90%;
    margin: 0 auto;
}

#helpful-links-title-wrapper {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    color: var(--primary);
}

#helpful-links-divs-wrapper {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.helpful-links-wrapper {
    height: 90%;;
    width: 35%;
    /* border: 2px dotted red; */
    background-color: var(--primary);
}

.helpful-links-wrapper ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    
}

.helpful-links-wrapper ul li {
margin-top: 10px;
}

.helpful-links-wrapper ul li a {
    font-size: 1.7em;
    text-decoration: none;
    color: var(--secondary);
}

.helpful-links-wrapper ul li a:hover {
    text-decoration: underline;
}
















@media only screen and (max-width: 600px) {


    .homeh2 {
        font-size: 3em;
    }

    #quick-menu-wrapper ul li button {
        font-size: 8em;
        padding: 40px;
        
    }

    .quick-menu-item-wrapper p {
        font-size: 1.8em;
    }
  }