#admin-menu-wrapper {
    width: 250px;
    height: calc(100vh - 150px);
    /* height: auto; */
    background-color: var(--primary);
    /* padding-top: 15px; */
    float: left;
    /* position: fixed; */
}

#admin-menu-wrapper ul {
    margin-top: 0;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#admin-menu-wrapper ul li {
    /* margin-bottom: 40px; */
    border-bottom: 2px solid var(--secondary);
    
}

#admin-menu-wrapper ul li a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 1.6em;
    
}

#admin-menu-wrapper ul li a.active {
    background-color: var(--secondary);
    color: var(--primary);
    /* width: 250px !important; */

    /* padding: 0 74.7px; */
}